<html>

<head>
  <title>New User Signup</title>
</head>

<body>

  <h4>Hello {{superAdminName}},</h4>
  <p>
    {{name}} has created a new account with email {{userEmail}}.
  </p>
  <p>
    Please verify the account to accept or reject it.
  </p>

</body>

</html>