<html>

<head>
  <title>Support Request</title>
</head>
<style>
</style>

<body>
  <h4>Dear, {{adminName}},</h4>
  <p>
   User with email {{userEmail}} sent a request.
  </p>
  <p>
    Query information
  </p>
  <p>
    Message : {{message}}
  </p>
</body>

</html>