<html>

<head>
  <title>Support Response</title>
</head>
<style>
</style>

<body>
  <h4>Dear, {{userName}},</h4>
  <p>
   {{reply}}
  </p>
  <p>If you still have queries, please send an email to {{adminEmail}}. We will revert you asap.</p>

  <div>Thanks</div>
  <div>LCSH Team</div>
</body>

</html>